.contain-1 {
    /* display: box; */
    justify-content: center;
    /* align-items: center; */
    /* box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2); */
    /* border-radius: 9px; */
    /* position: relative; */
    /* background-color: rgb(252, 252, 252); */
     /* width: 40em; */
    /* height: 50em;  */
    /* z-index: 99; */
     /* margin-left: 25%;  */
    /* margin-top: 5%;  */
    /* float:center  ; */
    padding-top: 5vh;

}

.contain-2{
    /* display: flex; */
    /* direction: row; */
    /* align-items:center; */
    /* justify-content: space-evenly; */
    /* margin-top: 10%; */
    /* padding: 10vh; */
    /* width: 50%; */
    /* height: 40vh; */
    /* box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2); */
    border-radius: 25px;
    background-color: rgb(234, 238, 247);
    /* border: 1px solid black; */
        box-shadow: 0px 0px 12px 2px rgba(200, 201, 226, 0.2);

    /* height: 50%; */
    /* width: 40%; */
         /* margin-left: 25%;  */

}
@media only screen and (max-width: 768px) {
    .contain-2 {
      width: 90%;
      /* padding: 5%; */
      margin-left: 5%;
      /* justify-content: center; */
         /* align-items:center; */
    }
  }

  @media only screen and (min-width: 768px) {
    .contain-2 {
      width: 40%;
      /* padding: 5%; */
      margin-left: 30%;
      /* justify-content: center; */
         /* align-items:center; */
    }
  }

/* .button-1{
    
    justify-content: center;
    
}

.button-2{
    flex:1;
    order:2;
    justify-content: center;
    /* align-items: center;  
}  */


.contain-3{
    /* margin-top: 8vh;
    padding-top: 5vh ; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* background-color: rgb(255, 255, 255); */
    /* margin-left: 25%; */
    width:auto;
    height: auto;
    
}