.outer-container{
    padding: 2rem 1rem 2rem 1rem;
    height: 100%;

    .add-item-container{
        background-color: lightcyan;
        text-align: left;
        height: 100%;
        padding: 2rem;
    }
}