.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 6rem;
    background-color: white;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    white-space: nowrap;
    
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.sidebar__logo {
    display: flex;
    place-items: center;
    height: 120px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Mochiy Pop P one', sans-serif;
    color: #269ccc;
}
.sidebar__menu {
    position: relative;
}
.sidebar__menu__item {
    display: flex;
    align-items: center;
    place-content: flex-start;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: #555;
    transition: color 0.3s ease-in-out;
}
.sidebar__menu__item.active {
    color: #fff;
}
.sidebar__menu__item__icon {
    margin-right: 2.5rem;
}
.sidebar__menu__item__icon i {
    font-size: 1.75rem;
}
.sidebar__menu__indicator {
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(100% - 40px);
    border-radius: 10px;
    background-color: #269ccc;
    z-index: -1;
    transform: translateX(-50%);
    transition: 0.3s ease-in-out;
}
.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}
